@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  height: 600px;
  width: 100%;
}
.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
